.rodape{
    position: absolute;
    width: 100%;
     top: 1146px;
     left: 0;


}
footer img{
    
width: 100%;

height: 240px;
}
.conteudofooter {

    position: absolute;
    top: 0px;
    
    width: 100%;
    height: 240px;
    opacity: 0.8;
    background-color:  #525252;
}




  .textofooter1{
    position: absolute;
    width: 421.59px;
    height: 54px;
    left: 1%;
    top:50px;
    text-align: center;
  

  }

  
  .textofooter2{
    position: absolute;
width: 421.59px;
height: 54px;
left: 35%;
top: 50px;
text-align: center;
  }

  
  .textofooter3{
    position: absolute;
width: 421.59px;
height: 73px;
left: 68%;
top: 50px;
text-align: center;
  }
  .rodapetexto{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 27px;
color: #ffffff;
}
.textofooter1 h2{
    color: #FE6C05;
}
.textofooter2 h2{
    color: #FE6C05;
}.textofooter3 h2{
    color: #FE6C05;
}



@media screen and (max-width: 1240px){
  footer img{
  max-width: 100%;
    
  }}
 