.topo{
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 30%;
    nav-right: 60%;

}
ul {
    position: absolute;
    width: 799.75px;
    height: 35.86px;
    left: 300px;
    top: 30px;
    display: flex;
}

li {
    list-style: none;
    align-items: center ;
    


}



a {
    margin-left: 30px;


    font-family: 'Roboto';
    text-decoration: none;
    color: #525252;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.logo{
    position: absolute;
    width: 130px;
    height: 100px;
    top: 0;
    left: 132px ;
    
}



