.bntDoe{
    position: absolute;
    left: 1120px;
    top: 40px;
    display: flex;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20.4911px;
    line-height: 31px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;

    background-color: #FF7017;
    box-shadow: 0px 2.04911px 2.04911px rgba(0, 0, 0, 0.15);
    border-radius: 5.12277px;
}
.bntDoe:hover{
    background-color:#20B1C1;
}