.bannerconteudo {
    position: absolute;
    left: 600px;
    top: 250px;
    right: 66px;
    
    width: 688px;
    height: 283px;
    
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 0px 2.62133px 2.62133px rgba(0, 0, 0, 0.15);
    border-radius: 6.55333px;
    
  
    } 
    .titulobanner{
     
    position: absolute;
    left: 67px;
    width: 400px;
    text-align: left;
    
    
    height:74.58px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 31.456px;
    line-height: 37px;
    
    color: #FE6C05;
    }
    
    .textobanner{
    
    position: absolute;
    left: 35px;
    right: 35px;
    top: 123px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23.592px;
    line-height: 35px;
    text-align: center;
    
    color: #000000;
    
    
    }
    .barratitulo{
    
        position: absolute;
        width: 3px;
        left: 55px;
        top: 50px;
        height: 59px;
        bottom: 51.38%;
        
        background: #FE6C05;
    }
    
    
    .botaosaibamais button{
    position: absolute;
    top: 230px;
    left: 250px;
    right: 250px;
    
    border: none;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26.8569px;
    line-height: 40px;
    text-align: center;
    
    color: #FFFFFF;
       
       background-color: #FF7017;
        box-shadow: 0px 2.68569px 2.68569px rgba(0, 0, 0, 0.15);
        border-radius: 6.71424px;
        
    }
    
    .botaosaibamais button:hover{
        background-color:#20B1C1 ;
    }
   
    @media screen and (max-width:  370px){
        .bannerconteudo  {
      
      max-width: 100%;
      height: 30%;
      left: 2%;
      top: 150px;
      
    
        }
       }
       @media screen and (max-width:  370px){
        .botaosaibamais button{
     position: absolute;
     left: 40%;
     width: 78px; 
     top: 150px;
     font-size: 13px;
   }
       }
       @media screen and (max-width: 370px){
        .titulobanner{
     position: absolute;
     left: 20px;
     width: 100%;
     font-size: 15px;
      
        }}
        @media screen and (max-width: 370px){
            .textobanner p{
         position: absolute;
         left: 0px;
         width: 100%;
         
         bottom: 0;
         font-size: 12px;
          
            }}
            @media screen and (max-width: 370px){
                .barratitulo{
             position: absolute;
            height: 20px;
            top: 30px;
            left: 15px;
              
                }}